RFC 9554: vCard Format Extensions for JSContact

This is just a heads-up: [RFC 9554, vCard Format Extensions for JSContact](https://www.rfc-editor.org/rfc/rfc9554.html) is a standards-track RFC, currently at "Proposed Standard" stage[a], which updates [RFC 6350](https://tools.ietf.org/html/rfc6350), the RFC that defines vCard 4.0.

RFC 9554 includes extensions to the ADR and N properties; adds new properties, such as LANGUAGE and SOCIALPROFILE; and adds new parameters, such as CREATED. 

[a] Refer to Section 4.1 of [RFC 2026](https://www.rfc-editor.org/rfc/rfc2026.txt) for an explanation of what "Proposed Standard" means in this context.