Org-Vcard support of Apple Vcards?

I have a couple hundred contacts in Apple Contacts that I've exported to VCard.  When I try to import them with Org-VCard, not nearly all of the fields are imported.  Things like people with multiple Cell phones only seem to get the first phone imported.  Is there a way to debug this more?  Is Apple using a special form of VCard v3.0?

Thank you for the report!  Could you provide a (redacted) example vCard that causes the undesired behavior?

First of all, due to the fact that the flat style uses org properties, it does not support having two different values for one property in a vCard - in other words, it does support having two distinct phone numbers if one is marked as `TEL;TYPE=home` and the other as `TEL;TYPE=work` but it both are marked as the same property it does not support having multiple phone numbers per vCard.  Thus, if you're using the flat style, org-vcard only importing the first phone number may be expected behavior, depending on how its represented in the vCard.

Furthermore, I suspect that Apple may use nonstandard vCard fields, which causes these to not be imported - you can set `org-vcard-include-import-unknowns` to include any unknown fields anyway, though the result may be quite noisy.  We could also extend the mappings in `styles/{style}/mappings/{language}`, or you could create a custom style.  Would you be willing to list which fields are missing (as referenced in the vCard)?

Finally, which version of org-vcard are you using? (probably either version 0.2.0 or latest main)

I think I get the idea of you reply, but I'm going to have to dig into it more.  I'm using the latest version of org-vcard off of Melpa (20250710.1155).  When you say v 0.2.0. are you talking about Noah Friedman's vcard package on Elpa (v0.2.2)?  I'll have to play with org-vcard more to flesh out this issue -- I'll get back to you.

Okay, let's start with this:

1.  I'm using Org-Vcard from Melpa (20250710.1155) with no customizations.
2. I have a VCard that I am importing to flat org-vcard style.

BEGIN:VCARD
VERSION:3.0
N:;;;;
FN:
ORG:Adapt 2 It;
X-ABShowAs:COMPANY
NOTE:Rent/Buy wheelchairs etc.
item1.ADR;TYPE=WORK;TYPE=pref:;;24100 El Toro Rd\nSuite E;Laguna Woods;CA;9
 2637;United States
item1.X-ABADR:us
TEL;TYPE=MAIN;TYPE=pref:(949) 457-1600
TEL;TYPE=WORK;TYPE=FAX:(949) 457-1614
item2.URL;TYPE=pref:http://www.adapt2it.com
item2.X-ABLABEL:_$!<HomePage>!$_
EMAIL;TYPE=WORK;TYPE=pref;TYPE=INTERNET:help@adsapt2it.com
PRODID:-//Apple Inc.//iCloud Web Address Book 1910B24//EN
REV:2019-06-25T14:55:09Z
END:VCARD

3. This is what I got:

* 
:PROPERTIES:
:VERSION: 3.0
:N: ;;;;
:ORG: Adapt 2 It;
:NOTE: Rent/Buy wheelchairs etc.
:FAX_WORK: (949) 457-1614
:END:

4. Obviously, this is not going to export back into a form I can use to update the Apple Contact

Suggestions?  My understanding of VCards (like most of your users) is minimal.   Should I be using tree style?

Thank you for the details!  I'll take a look at this and get back to you in a couple of days

What I think I'm looking for is a generic style(?) that will capture all the info in a VCard into Org regardless of the VCard version and then can reverse that back into (something close to) the original VCard.

The org-vcard-include-import-unknown does produce better results on import:

```
* 
:PROPERTIES:
:VERSION: 3.0
:N: ;;;;
:ORG: Adapt 2 It;
:X-ABShowAs: COMPANY
:NOTE: Rent/Buy wheelchairs etc.
:item1.ADR;TYPE=WORK;TYPE=pref: ;;24100 El Toro Rd\nSuite E;Laguna Woods;CA;92637;United States
:item1.X-ABADR: us
:TEL;TYPE=voice,pref: (949) 457-1600
:FAX_WORK: (949) 457-1614
:item2.URL;TYPE=pref: http://www.adapt2it.com
:item2.X-ABLABEL: _$!<HomePage>!$_
:EMAIL;TYPE=work,pref: help@adsapt2it.com
:PRODID: -//Apple Inc.//iCloud Web Address Book 1910B24//EN
:REV: 2019-06-25T14:55:09Z
:END:
```


But that doesn't import very well, so it's not a roundtrip solution.

```
BEGIN:VCARD
VERSION:3.0
FN:
N:
TEL;TYPE=fax,work:(949) 457-1614
NOTE:Rent/Buy wheelchairs etc.
ORG:Adapt 2 It;
N:;;;;
END:VCARD
```


> But that doesn't export very well back to VCard, so it's not a roundtrip solution.

Correct indeed, which is why i used the phrase "at least _partially_ address what you're (very reasonably) wanting" (emphasis added). 🙂

As pinoaffe has mentioned elsewhere, even before i handed over the project, i felt that the ad-hoc 'parsing' currently in org-vcard needs to be replaced by a proper parser based on the specified grammar for each version. (Unfortunately, the three main versions of vCard have substantive differences - later versions are not merely additive or clarifying, cf. e.g. https://www.softaken.com/guide/difference-among-vcard-version-2-0-3-0-4-0/ - which complicates the whole thing, and that's setting aside vendor differences in implementation, which themselves can be not-insignificant.)

i actually started writing a Parsec-based ELisp parser for version 2.1, which i i still have; i'm happy to send a copy to pinoaffe if that would help.

i should have also noted: Users can themselves modify / customise the mappings. From the README:

> For a list of the properties available by default for each contacts style and related vCard versions, visit the "Org Vcard Styles Languages Mappings" setting in the Org Vcard customize group, or examine the value of the org-vcard--styles-languages-mappings variable.
>
> Note! The default mappings might need to be tweaked for particular use-cases. For example, some systems create vCards with a bare TEL property, whereas others use TEL;TYPE=voice; but both are mapped to the Org PHONE property (for flat style) or phone FIELDTYPE (for tree style). In this case, the customize interface could be used to delete whichever of the two mappings is unwanted.

This is another reason one can't just have a "generic style" for mapping vCard data to Org. There's not only the occasional difference in usage between vCard versions, and possibly different vendor understandings of what is 'allowed' by the specs; there are also different ways of mapping vCard data to Org, i.e. there's no clearly 'canonical' way of doing so. The 'flat' style is designed to work with org-contacts.el, but the 'tree' style shows that other ways of structuring the data in Org are possible.

Thanks for the reply.  The "roundtrip solution" was not meant to be an indictment of either of you -- just a statement of what I'm looking for.

I'll have to look more at the definition of VCard versions.

@DSMasterson There are a few things coming together to cause mayhem in your example.  First of all, org-vcard doesn't really handle "groups" (the `itemX.` prefixes in your case).  It should.  I'll add some code to (optionally) strip them, that way properties names are normalized.  This is somewhat lossy, but should help data get imported.  Better handling of groups will have to wait until vCard parsing, the internal representation of vCards, and various internal interfaces are revamped

I'll also add a counterpart to `org-vcard-include-import-unknowns`, probably something along the lines of `org-vcard-include-import-unknowns`.  That should make it easier to round trip, at the expense of increasing the amount of noisy data

> But that doesn't export very well back to VCard, so it's not a roundtrip solution.

Yup,  put roughly org-vcard aims to roundtrip org -> vCard -> org, but it does not aim to be able to roundtrip vCard -> org -> vCard for all possible vCards, in part because it performs normalization during the vCard->org step.  However, for any "family" or "genre" of vCard, it should be possible to configure org-vcard in such a way that its behaviour makes sense.

The vCard specifications are a very extensible clusterfuck, and there are lots of vendor-specific extensions, only some of which actually follow the official extension methods.  Furthermore, most implementations only implement a part of the spec.  Thus, roundtripping vCard -> org -> vCard for arbitrary vCards is quite difficult, and not always desirable



> We can then enhance the README to link to things like RFCs describing VCard versions

Sorry, i'm not sure i understand what you mean by this, as the README already provides such links?

> org-vcard is working towards full compliance with the vCard 4.0 ([RFC 6350](https://tools.ietf.org/html/rfc6350)), 3.0 ([RFC 2426](https://tools.ietf.org/html/rfc2426) and [RFC 4770](https://tools.ietf.org/html/rfc4770)) and [2.1](https://web.archive.org/web/20120501162958/http://www.imc.org/pdi/vcard-21.doc) specifications.

(Yes, there's no RFC for vCard 2.1, just a Word doc :-P, which does at least include the grammar.)

> I could've sworn there were (at least) 2 ELisp packages on MELPA for generating an LALR parser, but I can't find them now. I haven't done anything with treesitter yet

Yeah, when i first considered shifting org-vcard to using a proper parser several years ago, there was at least Semantic, but i found myself a bit overwhelmed trying to get started with that; whereas leveraging Parsec seemed a much more straightforward starting point (even if something else was used eventually). Nowadays treesitter might indeed be the best option. 

My mistake -- I missed the references in the README.  I should take a look at the references to see if they give me a better understanding so I can better critique the docs.  I have submitted a pull request to convert the README to Org which can then be exported to Info (I included a Makefile for doing that).  That may make the docs more visible to anyone who installs it from MELPA.  Perhaps then more people will take an interest.

@DSMasterson i've added two customizable options, `org-vcard-include-export-unknowns` and `org-vcard-trim-property-group`, I think that (when enabled) those should more or less resolve the issue at hand, so I'm closing this issue - if not, feel free to reopen.